In [9]:
import pandas as pd
file1 = "https://raw.githubusercontent.com/analegaonkar/HomeLightAuto-Iot-ML/master/light_data_ML.csv"

hr_df = pd.read_csv(file1,names=['Date', 'Time', 'Threshold', 'SensorValue', 'LightStatus'])
hr_df.head()

         Date      Time  Threshold  SensorValue LightStatus
0  12-24-2019  20:27:42        350          424         OFF
1  12-24-2019  20:28:43        350            7          ON
2  12-24-2019  20:29:43        350          514         OFF
3  12-24-2019  20:30:44        350          425         OFF
4  12-24-2019  20:31:44        350          193          ON

In [87]:
hr_df.describe()

       Threshold  SensorValue
count      483.0   483.000000
mean       350.0   743.376812
std          0.0   324.272289
min        350.0     0.000000
25%        350.0   429.500000
50%        350.0   922.000000
75%        350.0  1024.000000
max        350.0  1024.000000

In [12]:
hr_df[hr_df.isnull()].count()

Date           0
Time           0
Threshold      0
SensorValue    0
LightStatus    0
dtype: int64

In [23]:
# main_df = hr_df.drop(columns=['Date','Time'])
hr_df.head()

         Date      Time  Threshold  SensorValue LightStatus
0  12-24-2019  20:27:42        350          424         OFF
1  12-24-2019  20:28:43        350            7          ON
2  12-24-2019  20:29:43        350          514         OFF
3  12-24-2019  20:30:44        350          425         OFF
4  12-24-2019  20:31:44        350          193          ON

In [123]:
categorial = ['LightStatus']
main_df_final = pd.get_dummies(hr_df, columns=categorial, drop_first=True)
main_df_final.head()

         Date      Time  Threshold  SensorValue  LightStatus_ON
0  12-24-2019  20:27:42        350          424               0
1  12-24-2019  20:28:43        350            7               1
2  12-24-2019  20:29:43        350          514               0
3  12-24-2019  20:30:44        350          425               0
4  12-24-2019  20:31:44        350          193               1

In [99]:
main_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 5 columns):
Date              483 non-null object
Time              483 non-null object
Threshold         483 non-null int64
SensorValue       483 non-null int64
LightStatus_ON    483 non-null uint8
dtypes: int64(2), object(2), uint8(1)
memory usage: 15.7+ KB

In [124]:
#will remove threshold as it is constant. once threshold changing code is developed then will keep it in the model
main_df_final = main_df_final.drop(columns=['Date','Threshold','SensorValue'])

In [133]:
# td = pd.Timedelta()  
td=pd.TimedeltaIndex(data= main_df_final['Time'])
print(td.seconds) 
main_df_final['Time'] = td.seconds

Int64Index([73662, 73723, 73783, 73844, 73904, 73965, 74025, 74086, 74146,
            74207,
            ...
            54462, 54523, 54583, 54644, 54704, 54765, 54826, 54886, 54947,
            55007],
           dtype='int64', length=483)

In [134]:
main_df_final.head()

    Time  LightStatus_ON
0  73662               0
1  73723               1
2  73783               0
3  73844               0
4  73904               1

In [137]:
from sklearn.model_selection import train_test_split

X = main_df_final[['Time']]
y = main_df_final['LightStatus_ON']

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [139]:
df_train = pd.DataFrame(X_train)
df_train.head()

      Time
389  49374
419  51192
113  30026
67   27240
51   26270

In [160]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

model = LogisticRegression(solver='lbfgs')
model.fit(X_train, y_train)
print(model.score(X_test, y_test))
# print(model.predict([[67500]]))

0.9172413793103448
[1]

In [162]:
import joblib

joblib.dump(reg,"HomeAutoML.pkl")

NameError: name 'reg' is not defined